<section class="menu">
    <a class="link-menu" style="margin-left: 2%; align-items: baseline;"  routerLink="">Home</a>
    <a class="link-menu" routerLink="/outsourcing">Sobre</a>
    <a class="link-menu" href="">Serviços</a>
    <a class="link-menu" href="">Contato</a>
  </section>
<img class="imagem" src="./../assets/imagens/ImagemTaas.png" alt="">
<div>
    <a class="lateral-pq" routerLink="/saas" >SaaS</a>
    <a class="lateral-pq" style="top: 45%" routerLink="/taas">TaaS</a>
    <a class="menu-lateral" style="top: 55%" routerLink="/consultoria">Consultoria de <br> T.I e Projetos</a> 
    <a class="menu-lateral" style="top: 70%" routerLink="/gestao">Gestão de Projetos</a>
</div>
<div>
    <p class="titulo-saas">TaaS</p>
    <p class="titulo-saas" style="font-size: 25px;font-weight: lighter; margin-top:-2%">Team as a Service</p>
    <p class="texto-saas">
        Através de uma contratação
        única, você tem uma equipe pronta
        para trabalhar em sua iniciativa.
        <br>
        <br>
        Melhor do
        que contratar pessoas individualmente,
        pois aqui você conta com um serviço
        integrado, Times-como-Serviço pode ser
        aplicado para qualquer tipo de
        desenvolvimento.
        <br>
        <br>
        Suporte demanda temporária
        e específica, projetos com ciclos maiores de
        desenvolvimento. Você define os
        objetivos do projeto, statement de valor e
        nós cuidamos do resto.
</p>
</div>
<div class="rodape" style="font-size: 12px; top: 95%;">
<img src="../../../assets/imagens/mouse.svg">
CLIQUE NO MODELO DE OUTSOURCING DESEJADO
</div>
<img style="position: absolute; margin-left: 95%; top: 93%" src="./../assets/imagens/lupa.svg" alt="">
