<section class="menu">
    <a class="link-menu" style="margin-left: 2%; align-items: baseline;"  routerLink="">Home</a>
    <a class="link-menu" routerLink="/outsourcing">Sobre</a>
    <a class="link-menu" href="">Serviços</a>
    <a class="link-menu" href="">Contato</a>
  </section>
<img class="imagem" src="./../assets/imagens/imagemGestao.png" alt="">
<div>
    <a class="lateral-pq" routerLink="/saas" >SaaS</a>
    <a class="lateral-pq" style="top: 45%" routerLink="/taas">TaaS</a>
    <a class="menu-lateral" style="top: 55%" routerLink="/consult">Consultoria de <br> T.I e Projetos</a> 
    <a class="menu-lateral" style="top: 70%" routerLink="/gestao">Gestão de Projetos</a>
</div>
<div>
    <p class="titulo-saas">Gestão<br> de Projetos</p>
    <p class="texto-saas">
        Na área de gestão
de projetos temos também
uma equipe qualificada para
trabalhar em diferentes tipos
de projetos trabalhando com
as ferramentas Kanban e Scrum
em modelos Híbridos e ágeis.
<br>
<br>
As empresas 
reconhecem que a inovação e o
aprimoramento dos serviços são
um caminho sem volta. Ou seja,
é preciso ter consciência de que a
tecnologia para gestão de projetos
deve ser aplicada corretamente
para aumentar a produtividade
e gerar um diferencial
competitivo.
</p>
<p class="texto-gestao">Ao adotar ferramentas capazes de tornar os funcionários mais envolvidos com
os resultados, uma organização pode aperfeiçoar o planejamento, executar ações com mais eficiência e
acompanhar os trabalhos desenvolvidos. Tudo visando minimiza os erros e
fortalece a imagem corporativa.</p>
</div>
<div class="parent">
    <div class="div1"> 
       <p style="padding-top: 5%; text-align: center; font-size: 18px;"> Banco de Dados </p>
       <img src="./../assets/imagens/logos/sql 1.png" alt="" style="padding-top: 15px; margin-left: 0%; padding-left: 8%; padding-right: 5%; width: 50%;">
       <img src="./../assets/imagens/logos/my sql 1.png" alt="" style="margin-left: 0%; padding-top: 20px; width: 40%;">
       <img src="./../assets/imagens/logos/Oracle 1.png" alt="" style="margin-left: 25%; padding-top: 20px; width: 50%;">
    </div>
    <div class="div2">
        <p style="padding-top: 5%; text-align: center; font-size: 18px;"> Firewall </p>
        <img src="./../assets/imagens/logos/fortinet 1.png" alt="" style="padding-top: 15px; margin-left: 20%; padding-left: 8%; padding-right: 5%; width: 60%;">
        <img src="./../assets/imagens/logos/pfsense_logo 1.png" alt="" style="margin-left: 8%; padding-top: 20px; width: 35%;">
       <img src="./../assets/imagens/logos/ostec 1.png" alt="" style="margin-left: 8%; padding-top: 20px; width: 40%;">
    </div>
    <div class="div3"> 
        <p style="padding-top: 5%; text-align: center; font-size: 18px;"> Antivirus </p>
        <img src="./../assets/imagens/logos/kaspersky-logo 1.png" alt="" style="padding-top: 15px; margin-left: 20%; padding-left: 8%; padding-right: 5%; width: 60%;">
        <img src="./../assets/imagens/logos/sophos-48 1.png" alt="" style="margin-left: 8%; padding-top: 20px; width: 35%;">
       <img src="./../assets/imagens/logos/trend 1.png" alt="" style="margin-left: 8%; padding-top: 20px; width: 40%;">
    </div>
    <div class="div4"> 
        <p style="padding-top: 5%; text-align: center; font-size: 18px;"> Cloud </p>
        <img src="./../assets/imagens/logos/Microsoft_Azure-Logo 1.png" alt="" style="padding-top: 5px; margin-left: 20%; padding-left: 8%; padding-right: 5%; width: 60%;">
        <img src="./../assets/imagens/logos/aws_logo_smile_1200x630 1.png" alt="" style="margin-left: 35%; padding-top: 20px; width: 35%;">
    </div>
    <div class="div5">
        <p style="padding-top: 5%; text-align: center; font-size: 18px;"> Virtualização </p>
        <img src="./../assets/imagens/logos/partners-login-vmware-png-logo-10 1.png" alt="" style="padding-top: 15px; margin-left: 20%; padding-left: 8%; padding-right: 5%; width: 60%;">
        <img src="./../assets/imagens/logos/1_LbxMWZS_e-kFGQhsmYgR6A 1.png" alt="" style="margin-left: 35%; padding-top: 20px; width: 35%;">
    </div>
</div>
<div class="rodape" style="font-size: 12px; top: 135%;">
<img src="../../../assets/imagens/mouse.svg">
CLIQUE NO MODELO DE OUTSOURCING DESEJADO
</div>
<img style="position: absolute; margin-left: 95%; top: 135%" src="./../assets/imagens/lupa.svg" alt="">
