
<div>
    <section class="menu">
        <a class="link-menu" style="margin-left: 2%; align-items: baseline;" routerLink="">Home</a>
        <a class="link-menu" routerLink="/outsourcing">Sobre</a>
        <a class="link-menu" href="">Serviços</a>
        <a class="link-menu" href="">Contato</a>
      </section>
 <section>
    <div>
          <p class="titulo" ><b>< Outsourcing de TI e Programadores ></b></p>
          <p class="texto">
            Nós da MANABI alocamos funcionários da área de T.I para prestação de serviços
            dentro da empresa contratante, prestando serviços presenciais e/ou remoto. 
            <br>
            <br>
            Já na área de Programação, alocamos programadores Full Time ou Part Time para
            trabalharem em seus projetos de Escopo já montado. Trabalhamos tanto em projetos do início
            ao fim, quanto em partes, onde o conhecimento dos nossos programadores pode sanar uma falta
            específica.
            <br>
            <br>
            Outra definição que cai dentro do Outsourcing é o Team-as-a-Service onde também
            alocamos todo time de programadores, desde o Júnior ao Sênior. 
          </p>
          </div>          
 </section>
 <section>
    <button class="botao" routerLink="/saas">SaaS</button>
    <button class="botao" style="margin-left: 14%" routerLink="/taas">TaaS</button>
    <button class="botao" style="margin-left: 28%; width: 320px; font-size: 20px;" routerLink="/consultoria">Consultoria de T.I e Projetos</button>
    <button class="botao" Style="margin-left: 55%; width: 250px; font-size: 20px;" routerLink="/gestao">Gestão de Projetos</button>
 </section>
  <div class="rodape" style="font-size: 12px; top: 95%;">
    <img src="../../../assets/imagens/mouse.svg">
    CLIQUE NO MODELO DE OUTSOURCING DESEJADO
  </div>
  <img style="position: absolute; margin-left: 95%; top: 93%" src="./../assets/imagens/lupa.svg" alt="">


<!-- <nz-modal 
[(nzVisible)]="painelSaas"
nzWidth="1200px"
nzClosable="true"
[nzContent]="modalSaas"
[nzFooter]="null" 
nzWrapClassName="vertical-center-modal"
 >
 <ng-template #modalSaas>
    <div style="color: white; height: 400px;" class="container">
    </div>
 </ng-template>



</nz-modal> -->



</div>
