<section class="menu">
    <a class="link-menu" style="margin-left: 2%; align-items: baseline;"  routerLink="">Home</a>
    <a class="link-menu" routerLink="/outsourcing">Sobre</a>
    <a class="link-menu" href="">Serviços</a>
    <a class="link-menu" href="">Contato</a>
  </section>
<img class="imagem" src="./../assets/imagens/ImagemSaas.png" alt="">
<div>
    <a class="lateral-pq" >SaaS</a>
    <a class="lateral-pq" style="top: 45%" routerLink="/taas">TaaS</a>
    <a class="menu-lateral" style="top: 55%" routerLink="/consultoria">Consultoria de <br> T.I e Projetos</a> 
    <a class="menu-lateral" style="top: 70%" routerLink="/gestao">Gestão de Projetos</a>
</div>
<div>
    <p class="titulo-saas">SaaS</p>
    <p class="titulo-saas" style="font-size: 25px;font-weight: lighter; margin-top:-2%">Software as a Service</p>
    <p class="texto-saas">
A contratação desse
modelo acontece através da
aquisição de uma assinatura,
que permitirá que o cliente tenha
acesso aos softwares que necessita.
<br>
<br>
Depois dessa contratação,
os serviços poderão ser utilizados
de forma on-line, ou através da
instalação de um pacote de programas
em cada equipamento.
<br>
<br>
Com o SaaS, as empresas podem
ter acesso às ferramentas necessárias,
com preços mais flexíveis, e
um pacote de softwares
mais completo.
</p>
</div>
<div class="rodape" style="font-size: 12px; top: 95%;">
<img src="../../../assets/imagens/mouse.svg">
CLIQUE NO MODELO DE OUTSOURCING DESEJADO
</div>
<img style="position: absolute; margin-left: 95%; top: 93%" src="./../assets/imagens/lupa.svg" alt="">