<div>
  <nav>
    <ul class="menu">
      <li><a>Home</a></li>
      <li><a>Sobre</a></li>
      <li><a>Serviços</a>
      <ul>
        <li><a class="border-top: none" routerLink="/outsourcing">Outsourcing</a></li>
        <li><a>Arquitetura</a></li>
      </ul>
    </li>
      <li><a>Contato</a></li>
  </ul>
</nav>
    <div class="imagemInicio">
      <img src="./../assets/imagens/logoInicio.svg" alt="">
    </div>
    <section class="rodape">
      <div style="font-size: 12px">
        Uma empresa do Manabi Group
      </div>
      </section>
      <img class="lupa" src="./../assets/imagens/lupa.svg" alt="">
  </div>
