<section class="menu">
    <a class="link-menu" style="margin-left: 2%; align-items: baseline;"  routerLink="">Home</a>
    <a class="link-menu" routerLink="/outsourcing">Sobre</a>
    <a class="link-menu" href="">Serviços</a>
    <a class="link-menu" href="">Contato</a>
  </section>
<img class="imagem" src="./../assets/imagens/ImagemConsult.png" alt="">
<div>
    <a class="lateral-pq" routerLink="/saas" >SaaS</a>
    <a class="lateral-pq" style="top: 45%" routerLink="/taas">TaaS</a>
    <a class="menu-lateral" style="top: 55%" routerLink="/consult">Consultoria de <br> T.I e Projetos</a> 
    <a class="menu-lateral" style="top: 70%" routerLink="/gestao">Gestão de Projetos</a>
</div>
<div>
    <p class="titulo-saas">Consultoria de <br>T.I e Projetos</p>
    <p class="texto-saas">
        A MANABI possui
        um time de técnicos
        e especialistas das áreas de
        Programação e T.I para prestar
        consultoria de seus projetos
        ou de suas necessidades,
        desde a implementação
        de melhorias tecnológicas
        dentro da sua empresa;
        até a montagem e validação
        do seu Escopo de projeto.
</p>
</div>
<div class="rodape" style="font-size: 12px; top: 95%;">
<img src="../../../assets/imagens/mouse.svg">
CLIQUE NO MODELO DE OUTSOURCING DESEJADO
</div>
<img style="position: absolute; margin-left: 95%; top: 93%" src="./../assets/imagens/lupa.svg" alt="">
